* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body-wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0px auto;
  overflow: hidden;
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 10px);
  height: 236.25px;
  margin: 5px 5px 5px 5px;
  gap: 10px;
}
.item1 {
  
  flex: 1;
  height: 236.25px;
  border: 2px solid black;
}
.item2 {
  flex: 1;
  height: 236.25px;
  border: 2px solid black;
}
.item3 {
    position: relative;
    flex: 1;
    height: 236.25px;
    border: 2px solid black;
}
.data {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 120px;
  
}
.item4 {
  position: relative;
  flex: 1;
  height: 236.25px;
  border: 2px solid black;
}
.item5 {
  position: relative;
  flex: 1;
  height: 236.25px;
  border: 2px solid black;
}
.item6 {
  position: relative;
  flex: 1;
  height: 236.25px;
  border: 2px solid black;
}
.box-1{
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.title-1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box-2{
    position: relative;
    margin-left: 250px;
    width: 76px;
    height: 76px;
     border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.first{
    position: absolute;
    left: 45%;
    font-size: 20px;

}
.title-2{
    margin-left: 193px;
}
.box-i{
    display: flex;
    width: 100%;
    height: 100px;
}
.box-j{
    position: relative;
    margin-top: 15px;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.second{
    position: absolute;
    left: 45%;
    font-size: 20px;

}
.title-3{
    margin-top: 65px;
}
.box-3{
    position: absolute;
    left: 50%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.title-4{
    margin-top: 30px;
    position: absolute;
    top: 50%;
    left: 30%;
}
.statement-1{
    flex:1;
    background-color: #fbf3e8;

}
.statement-2{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #fbf3e8;

}
.statement-3{
    flex:1;
    font-size: 20px;
    background-color: #fbf3e8;

}
.expressions{
    font-size: 20px;
    flex:1; 
}
.boxes{
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: wrap;
    width: 156px;
    height: 76px;
    

}
.box-4{
    display: flex;
    justify-content: center;
    flex: 1;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.box-5{
    display: flex;
    justify-content: center;
    flex: 1;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.exp{
    position: absolute;
    top: 70%;
    left: 39%;
}
.box-6{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 10%;
    left: 20%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.box-7{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 17%;
    left: 26%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.box-8{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 26%;
    left: 32%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.box-9{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 28%;
    left: 40%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.box-10{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 38%;
    left: 45%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.box-11{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 15%;
    left: 32%;
    width: 76px;
    height: 76px;
    border: 4px solid  #d5d5d5;
    background-color: #abe0c7;
}
.exp{
    margin-top: 20px;
}